<!DOCTYPE html>
html
  head
    title Session App
  body
    header
      a(href='/home') Home
      a(href='/register') Register
      a(href='/profile') Profile
      a(href='/login') Login
      a(href='logout') Logout
    div 
      h1 Home page
    footer 
      p Copyright © by Asif shahriar