<!DOCTYPE html>
html
  head
    title Diplomaian
  body
    header
      a(href='/home') Home
      a(href='/register') Register
      a(href='/profile') Profile
      a(href='/login') Login
      a(href='logout') Logout
    div(class='container') 
      h1 Registraation page
      div(class='form')
        form(action='/register' method='post')
          div 
            label(for='firstName') First Name: 
            input(type='text' id='userFirstName', name='userFirstName')
          div 
            label(for='lastName') Last Name: 
            input(type='text' id='userLastName' name='userLastName')
          div 
            label(for='Phone') Phone: 
            input(type='phone' id='phone' name='phone')
          div 
            label(for='Email') Email: 
            input(type='text' id='email' name='email')
          div 
            label(for='Password') Password: 
            input(type='password' id='password' name='password')
          div 
            input(type='submit' id='submit', value='Register')
    footer 
      p Copyright © by Asif shahriar